@import url(http://fonts.googleapis.com/css?family=Italianno);
body {
  line-height: 25px;
  font-size: 16px;
  background: #e6e6e6 url("../images/furley.png");
  padding-top: 100px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  color: #201A20;
}
header {
  font-family: 'Italianno', cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.8);
  color: #E6218B;
  font-size: 22px;
  z-index: 10;
}
header #header-top {
  float: left;
  min-height: 70px;
}
header a {
  color: inherit;
  text-decoration: none;
}
header a:hover {
  color: #FFA8D8;
  text-decoration: none;
  -webkit-transition-duration: 600ms;
}
header h1 {
  font-size: 1.7em;
  font-weight: normal;
  padding-left: 15px;
  text-shadow: 2px 2px 4px #DDD;
}
header #toggle-menu {
  float: right;
  display: none;
  color: black;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 10px;
}
header #toggle-menu:hover {
  color: #666;
}
header #logo {
  position: absolute;
  top: 0;
}
header #toggle-item {
  text-align: right;
  padding-top: 20px;
  text-shadow: 2px 2px 2px #DDD;
}
header #toggle-item a {
  padding: 0px 17px;
}
header #toggle-item .navmenu {
  display: inline;
}
.main {
  max-width: 760px;
  margin: 0 auto;
}
#contents {
  min-height: 470px;
}
#contents a {
  color: #00afd1;
  text-decoration: none;
}
#contents a:hover {
  text-decoration: none;
  border-bottom: 1px dashed;
}
#contents a:visited {
  color: #1f9ab2;
}
#contents hr {
  border-top: 3px dotted #ccc;
  border-bottom: none;
  margin: 20px 0;
}
#contents .title {
  color: #348c9d;
  text-decoration: none;
}
#contents .title:hover {
  text-decoration: none;
  border: none;
  color: #C00475;
  -webkit-transition-duration: 700ms;
}
#contents .meta {
  font-size: 11px;
}
#contents .meta span,
#contents .meta a {
  text-decoration: underline;
  color: #999;
}
#contents .meta span:hover,
#contents .meta a:hover {
  border-bottom: none;
}
#contents .meta [class^="icon-"] {
  padding-right: 7px;
}
#contents .meta .icon-tags {
  padding-left: 10px;
}
#contents .meta img {
  padding-top: 13px;
}
#contents .posts {
  padding-bottom: 37px;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
#contents .heading {
  font-size: 24px;
  text-shadow: 1px 1px 6px #aaa;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: bold;
  color: #222;
}
#contents h1 {
  color: #333;
  font-size: 23px;
  text-shadow: 2px 2px 2px #E2E2E2;
}
#contents h2 {
  font-size: 20px;
  margin: 25px 0;
}
#contents h3 {
  font-size: 18px;
}
#contents hr .separator {
  margin: 25px auto 8px;
  max-width: 280px;
  border-width: 1px 0 0 0;
  height: 30px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 20px;
}
#contents hr .separator:before {
  display: block;
  content: "";
  margin-top: -31px;
  border-width: 0 0 1px 0;
  height: 30px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 20px;
}
#contents .post-pagination {
  padding-top: 10px;
  padding-bottom: 30px;
}
#contents .post-pagination a {
  text-decoration: none;
  color: #979797;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 5px 11px;
  border-radius: 18px;
  box-shadow: inset 0 0 1px 1px #DDD;
}
#contents .post-pagination a:hover {
  background-color: #eee;
}
#contents .post-pagination a:hover {
  border-bottom: none;
}
#contents .post-pagination .newer {
  float: left;
  width: 100px;
  text-align: left;
}
#contents .post-pagination .older {
  float: right;
  width: 100px;
  text-align: right;
}
#social-buttons {
  list-style-type: none;
  padding: 0;
}
#social-buttons li {
  display: inline-block;
  vertical-align: top;
}
#social-buttons .fb_iframe_widget span {
  vertical-align: top;
}
#social-buttons .facebook {
  padding-right: 30px;
}
.related ul {
  margin-top: 0px;
}
.related li {
  font-size: 13px;
  line-height: 20px;
}
footer {
  background: #000000 url('/images/navy.png');
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #eee;
  font-size: 12px;
}
footer h2 {
  font-size: 38px;
  font-family: 'Italianno', cursive;
  font-weight: normal;
  margin: 20px 0;
}
footer a {
  color: inherit;
}
footer .wrapper {
  padding-bottom: 30px;
}
footer .wrapper .about {
  padding-left: 0;
  padding-right: 10px;
  width: 240px;
  float: left;
}
footer .wrapper .about dl {
  margin: 5px 0;
}
footer .wrapper .about dt {
  font-weight: bold;
  text-transform: uppercase;
}
footer .wrapper .about dd {
  margin: 0 0 0 20px;
}
footer .wrapper .about ul {
  padding: 0;
}
footer .wrapper .about li {
  list-style: none;
  float: left;
  font-size: 30px;
}
footer .wrapper .about li .icon-twitter-sign:hover {
  color: #3AACC9;
}
footer .wrapper .about li .icon-github-sign:hover {
  color: #fff;
}
footer .wrapper .center {
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
  float: left;
}
footer .wrapper .right {
  padding-left: 10px;
  padding-right: 0;
  width: 240px;
  float: left;
}
footer .credit {
  font-weight: bold;
  color: #525252;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
}
footer .credit a {
  text-decoration: none;
  color: inherit;
}
footer .credit a:hover {
  text-decoration: underline;
}
#profile_pic {
  border-radius: 50%;
  border: solid 2px #7AB8F1;
}
#archive a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #222;
}
#archive a:hover {
  text-decoration: none;
  border-bottom: none;
  background-color: #E0E0E0;
  -webkit-transition-duration: 800ms;
}
#archive a:hover time {
  background-color: #53C1CA;
  -webkit-transition-duration: 800ms;
}
#archive a:visited {
  color: inherit;
}
#archive a time {
  font-size: 11px;
  background-color: #49ACB4;
  color: #fff;
  padding: 5px;
  margin: 0 5px;
}
#archive hr {
  height: 1px;
  margin: 0;
  border: 0;
  border-top: 1px solid #cccccc;
}
#archive h3 {
  font-weight: bold;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
}
code {
  padding: 2px 4px;
  color: #D14;
  white-space: nowrap;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 20px;
  line-height: 20px;
  word-break: break-all;
  background-color: #222;
  color: #eee;
  word-wrap: normal;
  white-space: pre;
  overflow: auto;
  border: 1px solid #CCC;
  border-radius: 5px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
p {
  margin: 0 0 30px;
}
blockquote {
  font-size: 90%;
  margin: 1em 23px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 13px;
  border-left: 8px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.5);
}
li {
  line-height: 23px;
  padding-bottom: 5px;
}
menu,
ol,
ul {
  padding: 0 0 0 20px;
}
img {
  max-width: 100%;
}
.gist {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}
.gist .line-numbers {
  font-size: inherit;
  line-height: inherit;
}
.gist pre {
  font-size: inherit;
  line-height: inherit;
  color: #333;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
@media screen and (max-width: 760px) {
  header {
    background: #fff;
    position: absolute;
  }
  header #toggle-menu {
    display: block;
  }
  header #toggle-item {
    display: none;
    margin-top: 0;
    padding-top: 0;
  }
  header .active #toggle-item {
    display: block;
    text-align: left;
    margin-top: 70px;
  }
  header .active #toggle-item a {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #bbb;
  }
  header .active #toggle-item a:hover {
    color: inherit;
    background-color: #F7F7F7;
  }
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer {
    margin-left: -20px;
    margin-right: -20px;
  }
  footer .main {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .wrapper .about,
  footer .wrapper .center,
  footer .wrapper .right {
    width: auto;
  }
  #archive a,
  #archive hr {
    margin-left: -20px;
    margin-right: -20px;
  }
  blockquote {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
