@line-height: 20px;

body {
  background: rgb(230, 230, 230) url("../images/furley.png");
  padding-top: 80px;
  padding-bottom: 40px;
}

/* header */

header {
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.7);

  h1 {
    line-height: @line-height;
    padding: 10px 20px;
  }
}

#logo {
  position: absolute;
  top:0;
}

#navigation {
  width: 400px;
  margin: 0 auto;
  float: right;

  a {
    padding: 0px 20px;
    font-size: 22px;
  }
}

/* content */

#content {
  width: 600px;
  margin: 0 auto;
}

/* footer */
