@import url(http://fonts.googleapis.com/css?family=Italianno);
@import "normalize.less";
@import "font-awesome.less";

@main-width: 760px;
@mobile-width: 480px;
@base-line-height: 25px;
@base-fontsize: 16px;
@header-min-height: 70px;
@content-min-height: 470px;
@footer-div-width: 240px;
@link-color:#00AFD1;

body {
  line-height: @base-line-height;
  font-size: @base-fontsize;
  background: rgb(230, 230, 230) url("../images/furley.png");
  padding-top: 100px;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #201A20;
}

// header

header {
  font-family: 'Italianno', cursive;
  position: fixed;
  top:0;
  left:0;
  right:0;
  padding:0;
  background: rgba(255, 255, 255, 0.8);
  color: #DF5AA2;
  font-size: 22px;
  z-index: 10;

  #header-top {
    float: left;
    min-height: @header-min-height;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #FFA8D8;
      text-decoration: none;
      -webkit-transition-duration: 600ms;
    }
  }

  h1 {
    font-size: 1.7em;
    font-weight: normal;
    padding-left: 15px;
    text-shadow: 2px 2px 4px #DDD;
  }

  #toggle-menu {
    float: right;
    display: none;
    color: black;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 10px;

    &:hover {
      color:#666;
    }
  }

  #logo {
    position:absolute;
    top:0;
  }

  #toggle-item {
    text-align: right;
    padding-top:20px;
    text-shadow: 2px 2px 2px #DDD;

    a {
      padding: 0px 17px;
    }

    .navmenu {
      display: inline;
    }
  }

}

// content

.main {
  max-width: @main-width;
  margin: 0 auto;
}

#contents {
  min-height: @content-min-height;

  a {
    color: @link-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      border-bottom: 1px dashed;
    }
  }

  hr {
    border-top: 3px dotted #ccc;
    border-bottom:none;
    margin: 20px 0;
  }

  .title {
    color: desaturate(@link-color, 50%);
    text-decoration: none;

    &:hover {
      text-decoration: none;
      border: none;
      color: #C00475;
      -webkit-transition-duration: 700ms;
    }
  }

  .meta {
    font-size: 11px;

    span, a{
      text-decoration: underline;
      color: #999;

      &:hover {
        border-bottom: none;
      }
    }

    [class^="icon-"] {
      padding-right: 7px;

    }

    .icon-tags {
      padding-left: 10px;
    }

    img {
      padding-top: 13px;
    }
  }

  .posts {
    padding-bottom: 37px;
    .fadeInLeft();
  }

  .heading {
    font-size: 24px;
    text-shadow: 1px 1px 6px #aaa;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: bold;
    color:#222;
  }

  h1 {
    color:#333;
    font-size: 23px;
    text-shadow: 3px 3px 1px #D5D5D5;
  }

  h2 {
    font-size: 20px;
    margin: 25px 0;
    text-shadow: 2px 2px 2px #E2E2E2;
  }

  h3 {
    font-size: 17px;
  }

  hr .separator {
    margin: 25px auto 8px;
    max-width: 280px;
    border-width: 1px 0 0 0;
    .separator-style();

    &:before {
      display: block;
      content: "";
      margin-top: -31px;
      border-width: 0 0 1px 0;
      .separator-style();
    }
  }

  .post-pagination {
    padding-top: 10px;
    padding-bottom: 30px;

    a {
      text-decoration: none;
      .pagination-button();
      &:hover {
        border-bottom: none;
      }
    }

    .newer {
      float: left;
      width: 100px;
      text-align: left;
    }
    .older {
      float: right;
      width: 100px;
      text-align: right;
    }
  }

  // inspired by pure-css (http://purecss.io/buttons/)
  .btn {
    font-size: 100%;
    padding: .5em 1.5em;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #999;
    border: 0 rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 3px;
    -webkit-transition: .1s linear -webkit-box-shadow;
    -moz-transition: .1s linear -moz-box-shadow;
    -ms-transition: .1s linear box-shadow;
    -o-transition: .1s linear box-shadow;
    transition: .1s linear box-shadow;

    &:hover, &:focus {
      text-decoration: none;
      border: none;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
      background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(0, 0, 0, 0)),color-stop(40%,rgba(0, 0, 0, 0.05)),to(rgba(0, 0, 0, 0.1)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.05) 40%,rgba(0, 0, 0, 0.1));
      background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
      background-image: -ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
      background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
      background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.05) 40%,rgba(0, 0, 0, 0.1));
    }
    &:active {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,0 0 6px rgba(0, 0, 0, 0.2) inset;
    }
  }

  .btn-primary {
    background-color: #0078E7;
    color: #FFF;
  }

} // end of main

// content
#social-buttons {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    vertical-align: top;
  }

  // modify layout for facebook like button
  .fb_iframe_widget span {
    vertical-align: top;
  }

  .facebook {
    padding-right: 30px;
  }
}

// content
.related {
  ul {
    margin-top: 0px;
  }
  li {
    font-size: 13px;
    line-height: 20px;
  }
}

// footer

footer {
  background: #000 url('/images/navy.png');
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #eee;
  font-size: 12px;

  h2 {
    font-size: 38px;
    font-family: 'Italianno', cursive;
    font-weight: normal;
    margin: 20px 0;
  }

  a {
    color: inherit;
  }

  .wrapper {
    padding-bottom: 30px;

    .about {
      padding-left: 0;
      padding-right: 10px;
      width: @footer-div-width;
      float: left;
    }

    .center {
      padding-left: 10px;
      padding-right: 10px;
      width: @footer-div-width;
      float: left;
    }

    .right {
      padding-left: 10px;
      padding-right: 0;
      width: @footer-div-width;
      float: left;

      .tags {
      }
    }
  }

  .credit {
    font-weight: bold;
    color: #525252;
    text-shadow: 1px 1px 0px #000;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.aboutme {
  img {
    float: right;
    border-radius: 3%;
    margin: 0 20px 20px;
  }
}

.about-dl {
  margin: 5px 0;

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 20px 18px;
  }
}

.externallinks {
  padding: 0;

  li {
    list-style: none;
    float: left;
    font-size: 30px;

    .icon-twitter-sign:hover {
      color: #4196AC;
    }

    .icon-github-sign:hover {
      color: #999;
    }
  }
}

#profile_pic {
  border-radius: 50%;
}

// Archive

#archive {
  a {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #222;

    &:hover {
      text-decoration: none;
      border-bottom: none;
      background-color: #E0E0E0;
      -webkit-transition-duration: 800ms;

      time {
        background-color: #53C1CA;
        -webkit-transition-duration: 800ms;
      }
    }

    &:visited {
      color:inherit;
    }

    time {
      font-size: 11px;
      background-color: #49ACB4;
      color:#fff;
      padding: 5px;
      margin: 0 5px;
    }
  }

  hr {
    height:1px;
    margin:0;
    border:0;
    border-top:1px solid #cccccc;
  }

  h3 {
    font-weight: bold;
  }
}

code, pre {
  padding: 0 3px 2px;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 13px;
}

code {
  padding: 2px 4px;
  color: #D14;
  white-space: nowrap;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 20px;
  line-height: 20px;
  word-break: break-all;
  background-color:#222;
  color:#eee;
  word-wrap: normal;
  white-space: pre;
  overflow: auto;
  border: 1px solid #CCC;
  border-radius: 5px;

  code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
  }
}

p {
  margin: 0 0 25px;
}

blockquote {
  font-size: 90%;
  margin: 1em 23px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 13px;
  border-left: 8px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.5);
}

li {
  line-height: 23px;
  padding-bottom: 5px;
}

menu, ol, ul {
  padding: 0 0 0 20px;
}

img {
  max-width: 100%;
}

// table

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #CBCBCB;

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  td, th {
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 6px 12px;
    border-width: 0 0 1px;
    border-bottom: 1px solid #CBCBCB;
  }

  th {
    font-weight: bold;
    background: #E0E0E0;
    vertical-align: bottom;
  }
}


// gist
.gist {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;

  .line-numbers {
    font-size: inherit;
    line-height: inherit;
  }

  pre {
    font-size: inherit;
    line-height: inherit;
    color: #333;
  }
}

// clearfix
.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}

.separator-style() {
  height: 30px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 20px;
}

.pagination-button() {
  color: #979797;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 5px 11px;
  border-radius: 18px;
  box-shadow: inset 0 0 1px 1px #DDD;

  &:hover {
    background-color: #eee;
  }
}

// animate.css (https://github.com/daneden/animate.css)

@-webkit-keyframes fadeInLeft {0% {opacity: 0; -webkit-transform: translateX(-20px); } 100% {opacity: 1; -webkit-transform: translateX(0); } }
@-moz-keyframes fadeInLeft {0% {opacity: 0; -moz-transform: translateX(-20px); } 100% {opacity: 1; -moz-transform: translateX(0); } }
@-o-keyframes fadeInLeft {0% {opacity: 0; -o-transform: translateX(-20px); } 100% {opacity: 1; -o-transform: translateX(0); } }
@keyframes fadeInLeft {0% {opacity: 0; transform: translateX(-20px); } 100% {opacity: 1; transform: translateX(0); } }

@-webkit-keyframes fadeInDown {0% {opacity: 0; -webkit-transform: translateY(-20px); } 100% {opacity: 1; -webkit-transform: translateY(0); } }
@-moz-keyframes fadeInDown {0% {opacity: 0; -moz-transform: translateY(-20px); } 100% {opacity: 1; -moz-transform: translateY(0); } }
@-o-keyframes fadeInDown {0% {opacity: 0; -o-transform: translateY(-20px); } 100% {opacity: 1; -o-transform: translateY(0); } }
@keyframes fadeInDown {0% {opacity: 0; transform: translateY(-20px); } 100% {opacity: 1; transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

// responsive
@import "main-responsive.less" screen and (max-width: @main-width);
