header {
  background: #fff;
  position: absolute;
}
header #toggle-menu {
  display: block;
}
header #toggle-item {
  display: none;
  margin-top: 0;
  padding-top: 0;
}
header .active #toggle-item {
  display: block;
  text-align: left;
  margin-top: 70px;
}
header .active #toggle-item a {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #bbb;
}
header .active #toggle-item a:hover {
  color: inherit;
  background-color: #F7F7F7;
}
body {
  padding-left: 20px;
  padding-right: 20px;
}
footer {
  margin-left: -20px;
  margin-right: -20px;
}
footer .main {
  padding-left: 20px;
  padding-right: 20px;
}
footer .wrapper .about,
footer .wrapper .center,
footer .wrapper .right {
  width: auto;
}
#archive a,
#archive hr {
  margin-left: -20px;
  margin-right: -20px;
}
blockquote {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
