.main-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background: #eee;
}
header {
  background: #fff;
  position: absolute;
  z-index: 100;
}
header #toggle-menu {
  display: block;
}
header #toggle-item {
  display: none;
  margin-top: 0;
  padding-top: 0;
}
header .active #toggle-item {
  display: block;
  text-align: left;
  margin-top: 90px;
}
header .active #toggle-item a {
  line-height: 47px;
  padding: 0 25px;
  display: block;
  border-top: 1px solid #bbb;
}
header .active #toggle-item a:hover {
  color: inherit;
  background-color: #F7F7F7;
}
header .active #toggle-item .rss {
  display: none;
}
footer {
  background: #201A20;
}
footer .main {
  padding-left: 20px;
  padding-right: 20px;
}
footer .wrapper .about,
footer .wrapper .center,
footer .wrapper .right {
  width: auto;
}
#archive {
  margin-left: -20px;
  margin-right: -20px;
}
#archive a.archive-post {
  padding-bottom: 3px;
}
#archive h3.archive-title {
  margin: 0;
}
#archive time {
  position: static;
  top: 0;
}
#archive time .year {
  display: inline;
}
blockquote {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
.aboutme img {
  float: none;
  margin: 0 0 20px;
}
