@import url(http://fonts.googleapis.com/css?family=Italianno);
body {
  line-height: 25px;
  font-size: 16px;
  background: #e6e6e6 url("../images/furley.png");
  padding-top: 80px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  color: #545;
}
/* header */
header {
  font-family: 'Italianno', cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.7);
  color: #E6218B;
  font-size: 22px;
}
header #header-top {
  float: left;
  min-height: 70px;
}
header a {
  color: inherit;
  text-decoration: none;
}
header a:hover {
  color: #FFA8D8;
  text-decoration: none;
  -webkit-transition-duration: 600ms;
}
header h1 {
  font-size: 1.7em;
  font-weight: normal;
  padding-left: 15px;
}
header #toggle-menu {
  float: right;
  display: none;
  color: black;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 10px;
}
header #toggle-menu:hover {
  color: #666;
}
header #logo {
  position: absolute;
  top: 0;
}
header #toggle-item {
  text-align: right;
  padding-top: 20px;
}
header #toggle-item a {
  padding: 0px 17px;
}
header #toggle-item .navmenu {
  display: inline;
}
/* content */
.main {
  max-width: 760px;
  margin: 0 auto;
}
#contents {
  min-height: 470px;
}
#contents a {
  color: #008da8;
  text-decoration: none;
}
#contents a:hover {
  text-decoration: none;
  border-bottom: 1px dashed;
}
#contents a:visited {
  color: #197c8f;
}
#contents hr {
  border-top: 3px dotted #ccc;
  border-bottom: none;
}
#contents .title {
  color: #2a707e;
  text-decoration: none;
}
#contents .meta {
  font-size: 11px;
}
#contents .meta span,
#contents .meta a {
  text-decoration: underline;
  color: #999;
}
#contents .meta span:hover,
#contents .meta a:hover {
  border-bottom: none;
}
#contents .meta [class^="icon-"] {
  padding-right: 7px;
}
#contents .meta .icon-tags {
  padding-left: 7px;
}
#contents .meta img {
  padding-top: 13px;
}
#contents .posts {
  padding-bottom: 20px;
}
#contents .heading {
  font-size: 24px;
  text-shadow: 1px 1px 6px #aaa;
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #222;
}
#contents h1,
#contents h2,
#contents h3 {
  font-weight: normal;
}
#contents h1 {
  color: #333;
  font-size: 24px;
  text-shadow: 2px 2px 2px white;
}
#contents h2 {
  font-size: 22px;
  margin: 25px 0;
}
#contents h3 {
  font-size: 20px;
}
#contents hr .separator {
  margin: 25px auto 8px;
  max-width: 280px;
  border-width: 1px 0 0 0;
  height: 30px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 20px;
}
#contents hr .separator:before {
  display: block;
  content: "";
  margin-top: -31px;
  border-width: 0 0 1px 0;
  height: 30px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 20px;
}
#contents #social-buttons {
  list-style-type: none;
  padding: 0;
}
#contents #social-buttons li {
  display: inline-block;
  vertical-align: top;
}
#contents #social-buttons .fb_iframe_widget span {
  vertical-align: top;
}
#contents #social-buttons .facebook {
  padding-right: 30px;
}
#contents .post-pagination {
  padding-top: 10px;
  padding-bottom: 30px;
}
#contents .post-pagination a {
  text-decoration: none;
}
#contents .post-pagination a:hover {
  border-bottom: none;
}
#contents .post-pagination .newer {
  float: left;
  color: #ccc;
  border: 1px solid;
  padding: 2px 9px;
  border-radius: 30px;
  box-shadow: 2px 2px #aaa;
}
#contents .post-pagination .newer:hover {
  background-color: #eee;
}
#contents .post-pagination .older {
  float: right;
  color: #ccc;
  border: 1px solid;
  padding: 2px 9px;
  border-radius: 30px;
  box-shadow: 2px 2px #aaa;
}
#contents .post-pagination .older:hover {
  background-color: #eee;
}
/* footer */
footer {
  background: #000000 url('/images/navy.png');
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #eee;
}
footer h2 {
  font-size: 38px;
  font-family: 'Italianno', cursive;
  font-weight: normal;
  margin: 20px 0;
}
footer a {
  color: inherit;
}
footer .wrapper {
  padding-bottom: 30px;
}
footer .wrapper .left {
  padding-left: 0;
  padding-right: 10px;
  width: 240px;
  float: left;
}
footer .wrapper .left ul {
  font-size: 12px;
}
footer .wrapper .center {
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
  float: left;
}
footer .wrapper .right {
  padding-left: 10px;
  padding-right: 0;
  width: 240px;
  float: left;
}
footer .wrapper .right .tags {
  font-size: 12px;
}
footer .credit {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 0px #999;
  text-align: center;
}
footer .credit a {
  text-decoration: none;
  color: inherit;
}
footer .credit a:hover {
  color: #005666;
}
/* responsive */
@media only screen and (max-width: 760px) {
  header {
    position: absolute;
    border-bottom: 1px solid #bbb;
  }
  header #toggle-menu {
    display: block;
  }
  header #toggle-item {
    display: none;
    margin-top: 0;
    padding-top: 0;
  }
  header .active #toggle-item {
    display: block;
    text-align: left;
    margin-top: 70px;
  }
  header .active #toggle-item a {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #bbb;
  }
  header .active #toggle-item a:hover {
    color: inherit;
    background-color: #fff;
  }
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer {
    margin-left: -10px;
    margin-right: -10px;
  }
  footer .main {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .wrapper .left,
  footer .wrapper .center,
  footer .wrapper .right {
    width: auto;
  }
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
}
code {
  padding: 2px 4px;
  color: #D14;
  white-space: nowrap;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 20px;
  word-break: break-all;
  background-color: #222;
  color: #eee;
  word-wrap: normal;
  white-space: pre;
  overflow: auto;
  border: 1px solid #CCC;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
p {
  margin: 0 0 19px;
}
blockquote {
  margin: 1em 30px;
  padding: 0 0 0 10px;
  border-left: 8px solid lightgrey;
}
li {
  line-height: 23px;
  padding-bottom: 5px;
}
menu,
ol,
ul {
  padding: 0 0 0 20px;
}
img {
  max-width: 100%;
}
/* gist */
.gist {
  font-size: 13px;
  line-height: 18px;
}
.gist .line-numbers {
  font-size: inherit;
  line-height: inherit;
}
.gist pre {
  font-size: inherit;
  line-height: inherit;
  color: #333;
}
/* clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* less functions */
