@import url(http://fonts.googleapis.com/css?family=Italianno);

@line-height: 20px;
@main-width: 740px;
@footer-div-width: 230px;
@line-height: 20px;

body {
  background: rgb(230, 230, 230) url("../images/furley.png");
  padding-top: 80px;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/* header */

header {
  font-family: 'Italianno', cursive;
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.7);

  a {
    color: DeepPink;
  }
  a:hover {
    color: DeepPink;
  }

  h1 {
    line-height: @line-height;
    padding: 10px 20px;
  }
}

#logo {
  position: absolute;
  top:0;
}

#navigation {
  width: 400px;
  margin: 0 auto;
  float: right;

  a {
    padding: 0px 16px;
    font-size: 22px;
  }
}

/* content */

.content {
  width: @main-width;
  margin: 0 auto;
}

/* footer */

footer {
  width: 100%;
  background: #000 url('/images/navy.png');
  margin-top: 40px;
  padding-top: 0px;
  padding-bottom: 40px;
  color: white;

  h2 {
    font-family: 'Italianno', cursive;
    border-bottom:1px dashed #eee;
  }

  .wrapper {

    #left {
      padding-left: 0;
      padding-right: 10px;
      width: @footer-div-width;
      float: left;
    }

    #center {
      padding-left: 10px;
      padding-right: 10px;
      width: @footer-div-width;
      float: left;
    }

    #right {
      padding-left: 10px;
      padding-right: 0;
      width: @footer-div-width;
      float: left;
    }
  }
}
