sudo: false
language: ruby
cache: bundler
rvm:
  - 2.6.1

before_install:
  - bundle update --bundler
before_script:
  - rake setup
script:
  - bundle exec jekyll build
after_success:
  - ./deploy.bash

env:
  global:
    - secure: "Gfz3Y4s2SF/Lr64qoce+CvpYxD0TiJbL1YQv6t+/z5nWUyoL8E6iXnRaY0/o3vgl8+/2Go+m197DYgm4tO7NdGg7XECU8XMM4zbBzkjyy5nmAFGF4Y2OTEA7aViwMMZOtb/MqvLddM6n7n3XkN4XQBf+wchVOCJIfk8gki8g1/4="
    - GIT_COMMITTER_NAME="Toshi via Travis-CI"
    - GIT_COMMITTER_EMAIL="me@toshimaru.net"
    - GIT_AUTHOR_NAME="Toshi via Travis-CI"
    - GIT_AUTHOR_EMAIL="me@toshimaru.net"

# rvm is unset in deploy phase. so don't use it.
# ref. https://github.com/travis-ci/travis-ci/issues/5205
# deploy:
#   provider: script
#   script: rvm $TRAVIS_RUBY_VERSION do bundle exec rake autodeploy
#   on:
#     branch: master
