language: ruby
cache: bundler
rvm:
- 2.1
before_script:
- rake setup
script:
- rake autodeploy
env:
  global:
  - secure: "Gfz3Y4s2SF/Lr64qoce+CvpYxD0TiJbL1YQv6t+/z5nWUyoL8E6iXnRaY0/o3vgl8+/2Go+m197DYgm4tO7NdGg7XECU8XMM4zbBzkjyy5nmAFGF4Y2OTEA7aViwMMZOtb/MqvLddM6n7n3XkN4XQBf+wchVOCJIfk8gki8g1/4="
  - GIT_COMMITTER_NAME="Toshi via Travis-CI"
  - GIT_COMMITTER_EMAIL="me@toshimaru.net"
  - GIT_AUTHOR_NAME="Toshi via Travis-CI"
  - GIT_AUTHOR_EMAIL="me@toshimaru.net"
