title: toshimaru/blog
fqdn: blog.toshimaru.net
url: https://blog.toshimaru.net
mail: me@toshimaru.net
description: Toshimaruの技術ブログ
info: "フィンテック企業のソフトウェアエンジニアです。"
author:
  name: Toshimaru
  twitter: toshimaru_e
  picture: https://avatars.githubusercontent.com/u/803398
paginate: 5
permalink: /:title/
header_pages:
  - about.html
  - posts.html
  - categories.html
  - search.html
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - tailwind.config.js
  - package.json
  - vendor
  - node_modules
timezone: Japan
lang: ja
plugins:
  - jemoji
  - jekyll/tagging
  - jekyll-toc
  - jekyll-tagging-related_posts
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from
# jekyll-feed
feed:
  path: atom.xml
  tags: true
# jekyll-toc
toc:
  min_level: 1
  max_level: 4
# tagging
tag_page_dir: tag
tag_page_layout: category
tag_permalink_style: pretty
# jekyll-compose
jekyll_compose:
  default_front_matter:
    posts:
      image: /images/posts/
      description:
      tags:
