title: Hack Your Design!
fqdn: blog.toshimaru.net
url: https://blog.toshimaru.net
mail: me@toshimaru.net
description: toshimaruの技術系なブログ
info: "Web Developer. カナダ・バンクーバーでの修行時代を経て日本帰国。最近はもっぱらRuby on Railsと奮闘する日々。ブログでは技術ネタをよく書いています。"
author: Toshimaru
paginate: 14
permalink: /:title/
exclude: [Rakefile, Gemfile, Gemfile.lock, README.md, vendor, deploy.bash]
timezone: Japan
sass:
  style: :compressed
plugins:
  - jemoji
  - jekyll/tagging
  - jekyll-toc
  - jekyll-tagging-related_posts
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-feed
  - jekyll-coffeescript
defaults:
  -
    scope:
      path: ""
    values:
      layout: default
      og_type: blog
  -
    scope:
      path: ""
      type: posts
    values:
      layout: post
      og_type: article
feed:
  path: atom.xml

# GitHub Flavored Markdown
kramdown:
  input: GFM

# tagging
tag_page_dir: tag
tag_page_layout: tag_page
tag_permalink_style: pretty

toc:
  min_level: 1
  max_level: 4

# jekyll-compose
post_front_matter:
  image: /images/posts/
  description:
  tags:
