---
layout: default
---
<h2 class="heading">Recent Entries</h2>
{% for post in paginator.posts %}
  <div class="posts fadeInLeft">
  <h1><a href="{{ post.url }}" class="title">{{ post.title }}</a></h1>
  <div class="meta">
    <i class="icon-calendar"></i><time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%Y/%m/%d" }}</time>
    <i class="icon-tags"></i> {% include tags.html tags=post.tags %}
  </div>
  </div>
{% endfor %}

<div class="post-pagination clearfix">
  {% if paginator.previous_page %}
    <div class="newer">
    {% if paginator.previous_page == 1 %}
      <a href="/"><i class="icon-chevron-left"></i>  Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}/" class="previous"><i class="icon-chevron-left"></i>  Newer</a>
    {% endif %}
    </div>
  {% endif %}

  {% if paginator.next_page %}
  <div class="older">
    <a href="/page{{paginator.next_page}}/" class="next ">Older  <i class="icon-chevron-right"></i></a>
  </div>
  {% endif %}
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ItemList",
  "url": "{{ site.url }}{{ page.url | replace:'index.html','' }}",
  "numberOfItems": "{{ site.paginate }}",
  "itemListElement": [
    {% for post in paginator.posts %}
    {
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "Blog",
        "@id": "{{ site.url }}{{ post.url }}"
      },
      "url": "{{ site.url }}{{ post.url }}",
      "headline": "{{ post.title }}",
      "datePublished": "{{ post.date | date_to_xmlschema }}",
      "author": {
        "@type": "Person",
        "name": "{{ site.author }}",
        "email": "{{ site.mail }}"
      },
      "keywords": "{{ post.tags | join: ', ' }}"
    } {% if forloop.last == false %},{% endif %}
    {% endfor %}
  ]
}
</script>
