<footer>
	<div class="main">
		<div class="wrapper clearfix">
			<div class="about">
				<h2>About</h2>
				<img id="profile_pic" src="/images/profile.jpg" alt="profile picture" height="110" width="110">
				<dl>
					<dt>Toshimaru</dt>
					<dd>Web Developer in Japan. 技術ネタをよく書いてます。</dd>
				</dl>
				<ul>
					<li><a href="https://twitter.com/toshimaru_e" class="icon-twitter-sign"></a></li>
					<li><a href="https://github.com/toshimaru" class="icon-github-sign"></a></li>
				</ul>
			</div>
			<div class="center">
				<h2>Recommend</h2>
				<ul>
					<li><a href="/jquery-ajaxdeferredajax/">jQuery モダンAjaxな書き方を目指して　〜deferredを使ったAJAX〜</a></li>
					<li><a href="/vimsublime-text-2/">Vimから３日で乗り換えた、次世代モテエディタ「Sublime Text 2」の魅力</a></li>
					<li><a href="/responsive-designs/">レスポンシブサイト構築にあたり参考にしたレスポンシブデザイン１０選</a></li>
				</ul>
			</div>
			<div class="right">
				<h2>Tag</h2>
				<div class="tags">{{ site | tag_cloud }}</div> 
			</div>
		</div>
  	<p class="credit">Designed by <a href="/about.html">Toshi</a></p>
	</div>
</footer>
