<header class="clearfix">
<div id="header-top">{% if page.layout == "default" and paginator.page == 1 %}
  <h1 id="logo">{{ site.title }}</h1>{% else %}
  <h1 id="logo"><a href="/">{{ site.title }}</a></h1>{% endif %}
</div>
<div id="toggle-menu" class="clearfix"><i class="icon-reorder"></i></div>
<nav id="navigation">
  <div id="toggle-item">
  <a href="/">Blog</a>
  <a href="/archive/">Archive</a>
  <a href="/about/">About</a>
  <a href="/atom.xml" class="icon rss"><i class="icon-rss-sign"></i></a>
  <a class="icon search-area">
    <i class="icon-search"></i>
    <form id="search-form" action="/search/" method="get">
      <input type="text" class="search-txt" name="q" placeholder="Search"/>
    </form>
  </a>
  </div>
</nav>
</header>
