body
  line-height: $base-line-height
  font-size: $base-fontsize
  color: $black
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳＰゴシック',sans-serif

@import header
@import contents
