
@mixin relative-position
  position: relative
  top: $header-min-height

body
  line-height: $base-line-height
  font-size: $base-fontsize
  color: $black
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳＰゴシック',sans-serif

.main-wrapper
  @include relative-position
  background: $white
  padding-top: 30px
  z-index: 50

@import header
@import contents
