$main-width: 760px
$mobile-width: 420px
$base-line-height: 1.7
$header-min-height: 90px
$content-min-height: 470px
$footer-div-width: 240px
$responsive-padding: 20px

// font sizes
$base-fontsize: 1rem
$small-fontsize: .95rem
$min-fontsize: .9rem

// colors
$black:      #434343
$dark-black: #333
$pink:       #FFA8D8
$link-color: #00AFD1
$grey:       #999
$white:      #f3f3f3
$red:        #F55567
