$header-min-height: 90px

$content-min-height: 470px
$min-fontsize: 12px

$base-line-height: 1.6
$base-fontsize: 16px

$main-width: 760px

// colors
$black: #555
$dark-black: #333
$pink: #FFA8D8
$link-color: #00AFD1
$grey: #999
$white: #EEE
