#toc {
  ul {
    margin: 0;
  }
}

.dark {
  #moon-path {
    display: none;
  }

  #sun-path {
    display: block;
  }
}

#sun-path {
  display: none;
}

.task-list-item-checkbox {
  margin: 0 .75em 0 0;
}
