#social-buttons {
  list-style-type: none;
  padding: 0;
}
#social-buttons li {
  display: inline-block;
  vertical-align: top;
}
#social-buttons .fb_iframe_widget span {
  vertical-align: top;
}
#social-buttons .facebook {
  padding-right: 30px;
}
.related ul {
  margin-top: 0px;
}
.related li {
  font-size: 13px;
  line-height: 20px;
}
.footnotes {
  font-size: 13px;
  padding-top: 10px;
}
.footnotes p {
  margin: 0;
}
footer {
  top: 90px;
  position: relative;
  background: #373737 url('/images/navy.png');
  padding-top: 10px;
  padding-bottom: 10px;
  color: #eeeeee;
  font-size: 12px;
  line-height: 25px;
}
footer h2 {
  font-size: 38px;
  font-family: 'Italianno', cursive;
  font-weight: normal;
  margin: 20px 0;
}
footer a {
  color: inherit;
}
footer .wrapper {
  padding-bottom: 10px;
}
footer .wrapper .about {
  padding-left: 0;
  padding-right: 10px;
  width: 240px;
  float: left;
}
footer .wrapper .center {
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
  float: left;
}
footer .wrapper .right {
  padding-left: 10px;
  padding-right: 0;
  width: 240px;
  float: left;
}
footer .credit {
  font-weight: bold;
  color: #646464;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
}
footer .credit a {
  text-decoration: none;
  color: inherit;
}
footer .credit a:hover {
  text-decoration: underline;
}
footer .popular ul {
  padding-left: 5px;
}
footer .popular p {
  text-align: center;
}
.aboutme img {
  float: right;
  border-radius: 50%;
  margin: 0 20px 20px;
}
.about-dl {
  margin: 5px 0;
}
.about-dl dt {
  font-weight: bold;
}
.about-dl dd {
  margin: 0 0 20px 18px;
}
.externallinks {
  padding: 0;
}
.externallinks li {
  list-style: none;
  float: left;
  font-size: 30px;
  margin-right: 10px;
}
.externallinks li .icon-twitter-sign:hover {
  color: #57D4F5;
}
.externallinks li .icon-github-sign:hover {
  color: #E9B038;
}
.externallinks li .icon-tumblr-sign:hover {
  color: #D86FD4;
}
#profile_pic {
  border-radius: 50%;
}
#archive a.archive-post {
  color: #373737;
  display: block;
  padding: 12px 10px 10px;
  position: relative;
}
#archive a.archive-post:hover {
  background-color: #e4e4e4;
  text-decoration: none;
  border-bottom: none;
  -webkit-transition-duration: 800ms;
}
#archive a.archive-post:hover time {
  -webkit-transition-duration: 800ms;
}
#archive a.archive-post:visited {
  color: #373737;
}
#archive h3.archive-title {
  font-size: 16px;
  display: block;
  margin: 0 0 0 90px;
  padding: 0;
}
#archive time {
  color: #999999;
  font-size: 11px;
  position: absolute;
  top: 12px;
}
#archive time .year {
  display: none;
}
#archive time #tag-year {
  display: inline;
}
#archive hr {
  height: 1px;
  margin: 0;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
#archive h2 {
  color: #999999;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
}
code {
  padding: 2px 4px;
  color: #D14;
  white-space: nowrap;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 20px;
  line-height: 20px;
  word-break: break-all;
  background-color: #333;
  color: #eeeeee;
  word-wrap: normal;
  white-space: pre;
  overflow: auto;
  border: 1px solid #CCC;
  border-radius: 5px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  background-color: transparent;
  border: 0;
}
.gist {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}
.gist .line-numbers {
  font-size: inherit;
  line-height: inherit;
}
.gist pre {
  font-size: inherit;
  line-height: inherit;
  color: #333;
}
.gist table {
  border: none;
  margin: 0;
}
.gist table td,
.gist table th {
  border: none;
}
p {
  margin: 0 0 20px;
}
blockquote {
  font-size: 95%;
  margin: 1em 23px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 13px;
  border-left: 8px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.5);
}
li {
  line-height: 23px;
  padding-bottom: 5px;
}
menu,
ol,
ul {
  padding: 0 0 0 20px;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #CBCBCB;
  margin-bottom: 18px;
}
table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table td,
table th {
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 6px 12px;
  border-width: 0 0 1px;
  border-bottom: 1px solid #CBCBCB;
}
table th {
  font-weight: bold;
  background: #E0E0E0;
  vertical-align: bottom;
}
canvas {
  width: 100%;
}
iframe {
  width: 100%;
  padding-bottom: 10px;
}
input[type=text] {
  padding: .2em .3em;
  display: inline-block;
  border: 1px solid #DDD;
  font-size: .7em;
  box-shadow: inset 0 0 3px #DDD;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media screen and (max-width: 760px) {
  .main-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background: #eeeeee;
  }
  header {
    background: #fff;
    position: absolute;
    z-index: 100;
  }
  header #toggle-menu {
    display: block;
  }
  header #toggle-item {
    display: none;
    margin-top: 0;
    padding-top: 0;
  }
  header .active #toggle-item {
    display: block;
    text-align: left;
    margin-top: 90px;
  }
  header .active #toggle-item a {
    line-height: 47px;
    padding: 0 25px;
    display: block;
    border-top: 1px solid #bbb;
  }
  header .active #toggle-item a:hover {
    color: inherit;
    background-color: #F7F7F7;
  }
  header .active #toggle-item .rss {
    display: none;
  }
  header .active #toggle-item .search-area {
    display: none;
  }
  footer {
    background: #373737;
  }
  footer .main {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .wrapper .about,
  footer .wrapper .center,
  footer .wrapper .right {
    width: auto;
  }
  #archive {
    margin-left: -20px;
    margin-right: -20px;
  }
  #archive a.archive-post {
    padding-bottom: 3px;
  }
  #archive h3.archive-title {
    margin: 0;
  }
  #archive time {
    position: static;
    top: 0;
  }
  #archive time .year {
    display: inline;
  }
  blockquote {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .aboutme img {
    float: none;
    margin: 0 0 20px;
  }
}
