body {
  line-height: 1.6;
  font-size: 16px;
  color: #373737;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
.main-wrapper {
  position: relative;
  top: 90px;
  background: #eeeeee url("../images/furley.png");
  padding-top: 30px;
  z-index: 50;
}
header {
  font-family: 'Italianno', cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.7);
  color: #F8339E;
  font-size: 24px;
  z-index: 10;
  min-height: 90px;
}
header #header-top {
  float: left;
}
header a {
  color: inherit;
  text-decoration: none;
}
header a:hover {
  color: #ffa8d8;
  text-decoration: none;
  -webkit-transition-duration: 600ms;
}
header h1 {
  font-size: 1.6em;
  font-weight: normal;
  line-height: 90px;
  padding-left: 15px;
  text-shadow: 2px 2px 4px #DDD;
  margin: 0;
}
header #toggle-menu {
  float: right;
  display: none;
  color: black;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 20px;
  line-height: 75px;
}
header #toggle-menu:hover {
  color: #666;
}
header #logo {
  position: absolute;
  top: 0;
}
header #toggle-item {
  text-align: right;
  text-shadow: 2px 2px 2px #DDD;
}
header #toggle-item a {
  padding: 15px 25px;
  line-height: 90px;
}
header #toggle-item a.icon {
  padding: 15px 15px;
}
header #toggle-item .icon-search:hover {
  cursor: pointer;
}
header #toggle-item .navmenu {
  display: inline;
}
header #search-form {
  display: none;
  height: 90px;
  margin-left: 8px;
}
header #search-form.slideInRight {
  display: inline-block;
}
.main {
  max-width: 760px;
  margin: 0 auto;
}
#contents {
  min-height: 470px;
}
#contents a {
  color: #00afd1;
  text-decoration: none;
}
#contents a:hover {
  text-decoration: none;
  border-bottom: 1px dashed;
}
#contents hr {
  border-top: 3px dotted #ccc;
  border-bottom: none;
  margin: 20px 0;
}
#contents .title {
  color: #348c9d;
  text-decoration: none;
}
#contents .title:hover {
  text-decoration: none;
  border: none;
  color: #C00475;
  -webkit-transition-duration: 700ms;
}
#contents .meta {
  font-size: 12px;
}
#contents .meta span,
#contents .meta a {
  text-decoration: underline;
  color: #999999;
}
#contents .meta span:hover,
#contents .meta a:hover {
  border-bottom: none;
}
#contents .meta [class^="icon-"] {
  padding-right: 7px;
}
#contents .meta .icon-tags {
  padding-left: 10px;
}
#contents .meta img {
  padding-top: 13px;
}
#contents .posts {
  margin-bottom: 37px;
}
#contents .posts h1 {
  font-size: 25px;
}
#contents .post {
  margin-bottom: 30px;
}
#contents .post h1 {
  font-size: 32px;
}
#contents .heading {
  font-size: 24px;
  text-shadow: 1px 1px 6px #aaa;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #222;
}
#contents h1 {
  color: #333;
  text-shadow: 3px 3px 4px #D5D5D5;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 15px;
}
#contents h2 {
  font-size: 26px;
  margin: 25px 0;
  text-shadow: 2px 2px 2px #E2E2E2;
}
#contents h3 {
  font-size: 22px;
  margin: 1em 0 .8em;
}
#contents hr .separator {
  margin: 25px auto 8px;
  max-width: 280px;
  border-width: 1px 0 0 0;
  height: 30px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 20px;
}
#contents hr .separator:before {
  display: block;
  content: "";
  margin-top: -31px;
  border-width: 0 0 1px 0;
  height: 30px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 20px;
}
#contents .post-pagination {
  padding-top: 10px;
  padding-bottom: 30px;
}
#contents .post-pagination a {
  text-decoration: none;
  color: #979797;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 5px 11px;
  border-radius: 18px;
  box-shadow: inset 0 0 1px 1px #DDD;
}
#contents .post-pagination a:hover {
  background-color: #eeeeee;
}
#contents .post-pagination a:hover {
  border-bottom: none;
}
#contents .post-pagination .newer {
  float: left;
  width: 100px;
  text-align: left;
}
#contents .post-pagination .older {
  float: right;
  width: 100px;
  text-align: right;
}
#contents .btn {
  font-size: 100%;
  padding: .5em 1.5em;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999999;
  border: 0 rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: 0.1s linear -webkit-box-shadow;
  -moz-transition: 0.1s linear -moz-box-shadow;
  -ms-transition: 0.1s linear box-shadow;
  -o-transition: 0.1s linear box-shadow;
  transition: 0.1s linear box-shadow;
}
#contents .btn:hover,
#contents .btn:focus {
  text-decoration: none;
  border: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
#contents .btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
#contents .btn-primary {
  background-color: #0078E7;
  color: #FFF;
}
#social-buttons {
  list-style-type: none;
  padding: 0;
}
#social-buttons li {
  display: inline-block;
  vertical-align: top;
}
#social-buttons .fb_iframe_widget span {
  vertical-align: top;
}
#social-buttons .facebook {
  padding-right: 30px;
}
.related ul {
  margin-top: 0px;
}
.related li {
  font-size: 13px;
  line-height: 20px;
}
.footnotes {
  font-size: 13px;
  padding-top: 10px;
}
.footnotes p {
  margin: 0;
}
footer {
  top: 90px;
  position: relative;
  background: #373737 url('/images/navy.png');
  padding-top: 10px;
  padding-bottom: 10px;
  color: #eeeeee;
  font-size: 12px;
  line-height: 25px;
}
footer h2 {
  font-size: 38px;
  font-family: 'Italianno', cursive;
  font-weight: normal;
  margin: 20px 0;
}
footer a {
  color: inherit;
}
footer .wrapper {
  padding-bottom: 10px;
}
footer .wrapper .about {
  padding-left: 0;
  padding-right: 10px;
  width: 240px;
  float: left;
}
footer .wrapper .center {
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
  float: left;
}
footer .wrapper .right {
  padding-left: 10px;
  padding-right: 0;
  width: 240px;
  float: left;
}
footer .credit {
  font-weight: bold;
  color: #646464;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
}
footer .credit a {
  text-decoration: none;
  color: inherit;
}
footer .credit a:hover {
  text-decoration: underline;
}
footer .popular ul {
  padding-left: 5px;
}
footer .popular p {
  text-align: center;
}
.aboutme img {
  float: right;
  border-radius: 50%;
  margin: 0 20px 20px;
}
.about-dl {
  margin: 5px 0;
}
.about-dl dt {
  font-weight: bold;
}
.about-dl dd {
  margin: 0 0 20px 18px;
}
.externallinks {
  padding: 0;
}
.externallinks li {
  list-style: none;
  float: left;
  font-size: 30px;
  margin-right: 10px;
}
.externallinks li .icon-twitter-sign:hover {
  color: #57D4F5;
}
.externallinks li .icon-github-sign:hover {
  color: #E9B038;
}
.externallinks li .icon-tumblr-sign:hover {
  color: #D86FD4;
}
#profile_pic {
  border-radius: 50%;
}
#archive a.archive-post {
  color: #373737;
  display: block;
  padding: 12px 10px 10px;
  position: relative;
}
#archive a.archive-post:hover {
  background-color: #e4e4e4;
  text-decoration: none;
  border-bottom: none;
  -webkit-transition-duration: 800ms;
}
#archive a.archive-post:hover time {
  -webkit-transition-duration: 800ms;
}
#archive a.archive-post:visited {
  color: #373737;
}
#archive h3.archive-title {
  font-size: 16px;
  display: block;
  margin: 0 0 0 90px;
  padding: 0;
}
#archive time {
  color: #999999;
  font-size: 11px;
  position: absolute;
  top: 12px;
}
#archive time .year {
  display: none;
}
#archive time #tag-year {
  display: inline;
}
#archive hr {
  height: 1px;
  margin: 0;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
#archive h2 {
  color: #999999;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
}
code {
  padding: 2px 4px;
  color: #D14;
  white-space: nowrap;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 20px;
  line-height: 20px;
  word-break: break-all;
  background-color: #333;
  color: #eeeeee;
  word-wrap: normal;
  white-space: pre;
  overflow: auto;
  border: 1px solid #CCC;
  border-radius: 5px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  background-color: transparent;
  border: 0;
}
.gist {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}
.gist .line-numbers {
  font-size: inherit;
  line-height: inherit;
}
.gist pre {
  font-size: inherit;
  line-height: inherit;
  color: #333;
}
.gist table {
  border: none;
  margin: 0;
}
.gist table td,
.gist table th {
  border: none;
}
p {
  margin: 0 0 20px;
}
blockquote {
  font-size: 95%;
  margin: 1em 23px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 13px;
  border-left: 8px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.5);
}
li {
  line-height: 23px;
  padding-bottom: 5px;
}
menu,
ol,
ul {
  padding: 0 0 0 20px;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #CBCBCB;
  margin-bottom: 18px;
}
table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table td,
table th {
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 6px 12px;
  border-width: 0 0 1px;
  border-bottom: 1px solid #CBCBCB;
}
table th {
  font-weight: bold;
  background: #E0E0E0;
  vertical-align: bottom;
}
canvas {
  width: 100%;
}
iframe {
  width: 100%;
  padding-bottom: 10px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
input[type=text] {
  padding: .2em .3em;
  display: inline-block;
  border: 1px solid #DDD;
  font-size: .7em;
  box-shadow: inset 0 0 3px #DDD;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media screen and (max-width: 760px) {
  .main-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background: #eeeeee;
  }
  header {
    background: #fff;
    position: absolute;
    z-index: 100;
  }
  header #toggle-menu {
    display: block;
  }
  header #toggle-item {
    display: none;
    margin-top: 0;
    padding-top: 0;
  }
  header .active #toggle-item {
    display: block;
    text-align: left;
    margin-top: 90px;
  }
  header .active #toggle-item a {
    line-height: 47px;
    padding: 0 25px;
    display: block;
    border-top: 1px solid #bbb;
  }
  header .active #toggle-item a:hover {
    color: inherit;
    background-color: #F7F7F7;
  }
  header .active #toggle-item .rss {
    display: none;
  }
  header .active #toggle-item .search-area {
    display: none;
  }
  footer {
    background: #373737;
  }
  footer .main {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .wrapper .about,
  footer .wrapper .center,
  footer .wrapper .right {
    width: auto;
  }
  #archive {
    margin-left: -20px;
    margin-right: -20px;
  }
  #archive a.archive-post {
    padding-bottom: 3px;
  }
  #archive h3.archive-title {
    margin: 0;
  }
  #archive time {
    position: static;
    top: 0;
  }
  #archive time .year {
    display: inline;
  }
  blockquote {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .aboutme img {
    float: none;
    margin: 0 0 20px;
  }
}
