<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  {{ 'main' | stylesheet }}
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@toshimaru_e">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
  {% if page.description %}<meta name="twitter:description" content="{{ page.description }}"><meta property="og:description" content="{{ page.description }}">{% else %}<meta name="twitter:description" content="{{ site.description }}"><meta property="og:description" content="{{ site.description }}">{% endif %}
  {% if page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}" /><meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% else %}<meta property="og:image" content="{{ site.url }}/images/icon.png" /><meta name="twitter:image" content="{{ site.url }}/images/icon.png" />{% endif %}
  <meta property="og:type" content="{% if page.url == '/index.html' %}blog{% else %}article{% endif %}">
</head>
<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {% include header.html %}
  <div class="main-wrapper">
    <div class="main clearfix">
      <div id="contents">
       {{ content }}
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="/js/main.js"></script>
  <script>
      var _gaq=[['_setAccount','UA-35177276-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
