<!doctype html>
<html class="no-js" lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" href="/images/favicon.svg" sizes="any" type="image/svg+xml">
  <link rel="stylesheet" href="/assets/css/output.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  {% seo %}
  <meta name="twitter:site" content="@toshimaru_e">
  {% if page.last_modified_at %}<meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif -%}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HBLH1NQJW9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HBLH1NQJW9');
  </script>
  {% feed_meta %}
</head>
<body class="bg-white text-black antialiased dark:bg-gray-950 dark:text-white">
  <div class="mx-auto max-w-3xl px-4 sm:px-6">
    <div class="flex h-screen flex-col justify-between font-sans">
      {% include header.html %}
      <main class="mb-auto">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </div>
  <script src="/assets/js/main.js" defer></script>
</body>
</html>
