<!doctype html>
<html class="no-js" lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} - {% elsif page.tag %}{{ page.tag }} - {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@toshimaru_e">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% elsif page.tag %}{{ page.tag }} - {% endif %}{{ site.title }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% elsif page.tag %}{{ page.tag }} - {% endif %}{{ site.title }}">
  {% if page.description %}<meta name="description" content="{{ page.description }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  {% elsif page.tag %}<meta name="description" content="「{{ page.tag }}」に関する記事一覧です。">
  <meta name="twitter:description" content="「{{ page.tag }}」に関する記事一覧です。">
  <meta property="og:description" content="「{{ page.tag }}」に関する記事一覧です。">
  {% else -%}<meta name="description" content="{{ site.description }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">{% endif -%}
  {% if page.image %}{% if page.image contains 'http://' or page.image contains 'https://' %}
  <meta property="og:image" content="{{ page.image }}" />
  <meta name="twitter:image" content="{{ page.image }}" />{% else -%}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% endif -%}
  {% else -%}<meta name="twitter:image" content="{{ site.url }}/icon.png" />
  <meta property="og:image" content="{{ site.url }}/icon.png" />{% endif -%}
  <meta property="og:type" content="{{ page.og_type }}">
  {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif -%}
  {% comment %}<!-- should be https canonical URL. comment out until the site becomes completely https. -->{% endcomment %}
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8616720383995770",
      enable_page_level_ads: true
    });
  </script>
  {% feed_meta %}
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P34X4D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P34X4D');</script>
  <!-- End Google Tag Manager -->

  {% include header.html %}
  <div class="main-wrapper">
    <div class="main clearfix">
      <div id="contents">
       {{ content }}
      </div>
    </div>
  </div>
  {% include footer.html %}

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
