---
layout: default
---
<article>
  <header class="pt-6 xl:pb-6">
    <div class="space-y-1">
      <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">{{ page.title }}</h1>
    </div>
    <div class="flex flex-wrap pt-2">
      <time class="mr-5 text-base font-medium leading-6 text-gray-500 dark:text-gray-400" datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date: "%Y/%m/%d" }}{% if page.last_modified_at %} (更新: {{ page.last_modified_at | date: "%Y/%m/%d" }}){% endif -%}</time>
      {% include tags.html tags=page.tags %}
    </div>
    {% if page.image and page.hideimage != true %}
    <div class="py-2">
      <img src="{{ page.image }}" alt="(image){{ page.title }}" title="{{ page.title }}" />
    </div>
    {% endif %}
  </header>

  <div class="prose max-w-none pt-4 pb-8 dark:prose-invert">
    {% if page.toc %}
    <details class="mb-6 rounded-xl border px-6 py-3 prose prose-slate open:pb-5 dark:prose-dark dark:border-slate-800">
      <summary class="font-medium cursor-pointer select-none text-slate-900 dark:text-slate-200">目次</summary>
      {% toc %}
    </details>
    {% endif %}

    {{ content | inject_anchors }}

    {% if site.related_posts.size >= 1 %}
    <div class="py-8">
    <h3>関連記事</h3>
    <ul>
    {% for related_post in site.related_posts limit: 5 %}
      <li><a href="{{ related_post.url }}" title="{{ related_post.title }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
  </div>

  <ul class="flex justify-center">
    <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </ul>

  {% if false %}
  <div class="related-by-google">
    <h3>おすすめ記事</h3>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="autorelaxed"
        data-ad-client="ca-pub-8616720383995770"
        data-ad-slot="7568375448"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div id="adsense">
    <!-- post-rectangle1 -->
    <ins class="adsbygoogle adslot_1"
        style="width:336px;height:280px"
        data-ad-client="ca-pub-8616720383995770"
        data-ad-slot="7891449048">
    </ins>
    <!-- post-rectangle2 -->
    <ins class="adsbygoogle adslot_2"
        style="width:336px;height:280px"
        data-ad-client="ca-pub-8616720383995770"
        data-ad-slot="4798381840">
    </ins>
    <!-- responsive-ad-unit -->
    <ins class="adsbygoogle adslot_responsive"
        data-ad-client="ca-pub-8616720383995770"
        data-ad-slot="4426937197"
        data-ad-format="auto"
        data-full-width-responsive="true">
    </ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    (adsbygoogle = window.adsbygoogle || []).push({});
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  {% endif %}

  <script id="jsonld" type="application/ld+json">
  [
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "Blog",
        "@id": "{{ site.url }}{{ page.url }}"
      },
      "headline": "{{ page.title }}",
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      {% if page.last_modified_at %}"dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",{% endif -%}
      "author": {
        "@type": "Person",
        "name": "{{ site.author }}",
        "email": "{{ site.mail }}"
      },
      "publisher": {
        "@type": "Person",
        "name": "{{ site.author }}",
        "email": "{{ site.mail }}"
      },
      "image": {
        "@type": "ImageObject",
        "url": "{% if page.image %}{% if page.image contains 'http://' or page.image contains 'https://' %}{{ page.image }}{% else -%}{{ site.url }}{{ page.image }}{% endif -%}{% else -%}{{ site.url }}/icon.png{% endif -%}"
      },
      "keywords": "{{ page.tags | join: ', ' }}"
    },
    {
      {% if page.tags.size >= 1 %}
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ site.url }}/tag/{{ page.tags | first }}/",
            "name": "{{ page.tags | first }}"
          }
        }
      ]
      {% endif -%}
    }
  ]
  </script>
</article>
